spring:
    application:
        name: tenantmanage
    datasource:
        url: ${DB_URL_PROD}
        username: ${DB_USERNAME_PROD}
        password: ${DB_PASSWORD_PROD}
        driver-class-name: org.postgresql.Driver

        hikari:
          maximum-pool-size: 5
          minimum-idle: 1
          idle-timeout: 30000
          max-lifetime: 600000
          connection-timeout: 30000
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
            dialect: org.hibernate.dialect.PostgreSQLDialect
    security:
      oauth2:
        client:
          registration:
            google:
              client-id: ${GOOGLE_CLIENT_ID}
              client-secret: ${GOOGLE_CLIENT_SECRET}


# JWT Configuration
jwt:
  secret: ${JWT_SECRET}
  expiration: 86400000  # 24 hours in milliseconds
  